extends layout

block content
  h1= title
  p Welcome to Trees page
  p= 'interestRate1= ' + interestRate1
  p= 'interestRate2= ' + interestRate2
  p= 'interestRate3= ' + interestRate3
  p= 'Traverse Preorder the Tree: ' + traversePreOrder
  p= 'Traverse traverseInOrder the Tree: ' + traverseInOrder
  p= 'Traverse traversePostOrder the Tree: ' + traversePostOrder
  p= 'bfs: ' + bfs
  p= 'binaryTreePreOrder: ' + binaryTreePreOrder
  p= 'binaryTreeBfs: ' + binaryTreeBfs

  p= 'binaryTree2PreOrder: ' + binaryTree2PreOrder
  p= 'binaryTree3PreOrder: ' + binaryTree3PreOrder
  p= 'binaryTree4PreOrder: ' + binaryTree4PreOrder
  p= 'binaryTree5PreOrder: ' + binaryTree5PreOrder
  p= 'binaryTree6inOrder: ' + binaryTree6inOrder
  p= 'binaryTree2Bfs: ' + binaryTree2Bfs
  p= 'find15: ' + find15
  p= 'find10: ' + find10
  p= 'find8: ' + find8
  p= 'find12: ' + find12
  p= 'find20: ' + find20
  p= 'find17: ' + find17
  p= 'find25: ' + find25
  p= 'find19: ' + find19
  p= 'find0: ' + find0
